<app-header titulo="Grid Row"></app-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1];">

          <ion-card>
            <ion-img src="/assets/shapes.svg"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-content>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto praesentium sit neque. Commodi recusandae possimus obcaecati, explicabo illum consectetur iusto? Consectetur aspernatur, iusto libero doloremque officia id similique mollitia aut?
              </ion-card-content>
            </ion-card-header>
          </ion-card>

      </ion-col>   
    </ion-row>
  </ion-grid>

</ion-content>
